
/*
	CABECALHO

*/

/* GERAL */
* {
	margin:0;
	padding:0;
	list-style:none;
	}

html {
	height:100%;
	background:url(/img/fundo.jpg) repeat-x;
	}

@font-face {
    font-family:carto;
    src:url(/css/fontes/CartoGothicStd-Book.otf);
    font-weight:normal;
    font-style:normal;
	}

body {
	font-family: carto, sans-serif;
	font-size:14px;
	color:#2e2e1f;
	background:url(/img/fundo_rodape.png) repeat-x bottom;
	position:relative;
	}

/*#personagens {
	width:1260px;
	margin:0 auto 0;
	}

#personagens_centro {
	width:1125px;
	float:left;
	}

#personagem_left {
	width:200px;
	float:left;
	background-repeat:no-repeat;
	background-position:bottom;
	}

#personagem_right {
	background-repeat:no-repeat;
	background-position:bottom;
	width:200px;
	float:left;
	margin:0 0 0 -65px;
	}*/

#container {
	width:990px;
	margin:0 auto 0;
	/*margin:0 0 -40px -65px;*/
	padding:0 15px 20px 15px;
	background:url(/img/fundo_container.png) repeat-y center;
	/*float:right;*/
	position:relative;
	}

/*.container {
	width:1260px;
	margin:0 auto 0;
	}*/

/* LINKS */
a, a:visited {
	color:#0ba219;
	text-decoration:none;
	}

.novidades a, .novidades a:visited {
	color:#346cd4;
	text-decoration:none;
	}

.biografia a, .biografia a:visited {
	color:#dd3f3a;
	text-decoration:none;
	}

.contato a, .contato a:visited {
	color:#e2a715;
	text-decoration:none;
	}

.admin a {
	color:#a7a76f;
	text-decoration:none;
	}

a img {
	border:none;
	}

a:focus, a:hover, a:active {
	text-decoration:underline;
	}

a.link_box {
	padding:15px 12px;
	margin:10px 0 0 0;
	margin:0;
	font-size:16px;
	color:#fff;
	background:url(/img/icone_mais.png) no-repeat 235px 17px #15bf25;
	display:block;
	text-align:left;
	}

/* TOPO */
#topo {
	width:890px;
	padding:0 65px;
	background:url(/img/fundo_container.png) repeat-y center;
	height:100px;
	margin:0 auto 0;
	}

#logo {
	padding:8px 0 0 0;
	float:left;
	}

/* MENU */
#menu {
	float:right;
	}

#menu li {
	float:left;
	}

#menu li a {
	margin:0 0 0 10px;
	padding:36px 10px 34px 10px;
	text-transform:uppercase;
	font-weight:bold;
	color:#fff;
	display:block;
	font-size:16px;
	height:10px;
	}

#menu li a#menu_livros {
	border-top:10px solid #0ba219;
	background:#15bf25;
	}

#menu li a#menu_livros:hover {
	background:#0ba219;
	text-decoration:none;
	}

#menu li a#menu_novidades {
	border-top:10px solid #346cd4;
	background:#4b88f8;
	}

#menu li a#menu_novidades:hover {
	background:#346cd4;
	text-decoration:none;
	}

#menu li a#menu_biografia {
	border-top:10px solid #dd3f3a;
	background:#f95550;
	}

#menu li a#menu_biografia:hover {
	background:#dd3f3a;
	text-decoration:none;
	}

#menu li a#menu_contato {
	border-top:10px solid #e2a715;
	background:#febe20;
	}

#menu li a#menu_contato:hover {
	background:#e2a715;
	text-decoration:none;
	}

/* CONTEÚDO */
#conteudo {
	line-height:18px;
	width:560px;
	float:left;
	padding:0 0 20px 50px;
	/*margin-bottom:20px;*/
	position:relative;
	z-index:999!important;
	}

.conteudo_1coluna {
	width:938px!important;
	}

#conteudo p {
	margin-bottom:10px;
	}

#conteudo small {
	font-size:11px;
	}

#conteudo ul, #conteudo ol {

	}

#conteudo ul li, #conteudo ol li {
	margin:0 0 10px 0;
	list-style:inside circle;
	}

h1 {
	font-size:36px;
	font-weight:normal;
	margin:0 0 20px 0;
        line-height: normal;
}

h2 {
	font-size:18px;
	font-weight:bold;
	margin:0 0 20px 0;
	padding:0 0 10px 0;
	text-transform:uppercase;
	border-bottom:1px solid #cbcb90;
	}

h3, h3 a {
	font-size:18px;
	font-weight:normal;
	margin:0 0 15px 0;
	line-height:22px;
	}

h4 {
	font-size:16px;
	text-transform:uppercase;
	font-weight:normal;
	margin:15px 0;
	}

#breadcrumb_livros {
	border-top:10px solid #0ba219;
	background:#15bf25;
	padding:15px 50px;
	margin:0 0 30px 0;
	}

#breadcrumb_novidades {
	border-top:10px solid #346cd4;
	background:#4b88f8;
	padding:15px 50px;
	margin:0 0 30px 0;
	}

#breadcrumb_biografia {
	border-top:10px solid #dd3f3a;
	background:#f95550;
	padding:15px 50px;
	margin:0 0 30px 0;
	}

#breadcrumb_contato {
	border-top:10px solid #e2a715;
	background:#febe20;
	padding:15px 50px;
	margin:0 0 30px 0;
	}

#breadcrumb_livros a, #breadcrumb_novidades a, #breadcrumb_biografia a, #breadcrumb_contato a {
	color:#ffffff!important;
	}

.admin div#breadcrumb_livros, .admin div#breadcrumb_novidades, .admin div#breadcrumb_biografia, .admin div#breadcrumb_contato {
	background:#EAEABB;
	border-top-color:#CBCB90;
	border-top-style:solid;
	border-top-width:10px;
	margin:0;
	padding:15px 50px;
	}

.admin div#breadcrumb_livros a, .admin div#breadcrumb_novidades a, .admin div#breadcrumb_biografia a, .admin div#breadcrumb_contato a {
	color:#fff!important;
	}

#livros img {
	width:100px;
	height:auto;
	}

#livros .works_row {
        overflow:auto;
        width: 600px;
        }

#livros .item_row {
        float: left;
        width: 100px;
        margin-left: 12px;
        }

#conteudo a img.explore_cover {
	border:2px solid #fff9cb;
	width:250px;
	height:auto;
	}


#conteudo a.thumbnail_livro img {
	width:100px;
	height:auto;
	border:2px solid #fff9cb;
	}

.novidades .img_legenda.legenda, .legenda {
font-style: italic;
font-size: 0.85rem;
width: 90%;
//margin: 0.5rem 1 0.5rem 1rem;
float: left;
padding-left: 0.5rem;
}

.novidades #conteudo #explore img[align="left"],
.novidades #conteudo #explore img[style*="float: left"],
.novidades #conteudo #explore img[style*="float:left"] {
   	margin: 0px 12px 6px 0;
	}

.novidades #conteudo #explore img[align="right"],
.novidades #conteudo #explore img[style*="float: right"],
.novidades #conteudo #explore img[style*="float:right"] {
    	margin: 0px 0 6px 12px;
	}

.novidades .item img {
    	margin: 6px 6px 6px 12px;
	}

.novidades .item img[align="left"],
.novidades .item img[style*="float: left"],
.novidades .item img[style*="float:left"] {
   	margin: 6px 12px 6px 0;
	}

.novidades .item img[align="right"],
.novidades .item img[style*="float: right"],
.novidades .item img[style*="float:right"] {
    	margin: 6px 0 6px 12px;
	}


.box {
	width:240px;
	border:2px solid #cbcb90;
	padding:28px 18px;
	margin-bottom:20px;
	background:#eaeabb;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	z-index:999!important;
	position:relative;
	}

.box2 {
	width:260px;
	border:10px solid #cbcb90;
	padding:0 0 0 0;
	margin-bottom:20px;
	background:#eaeabb;
	-webkit-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
	text-align:center;
	z-index:999!important;
	position:relative;
	}

.box2 div {
	height:208px;
	}

.box2 h2 {
	border:none;
	text-transform:none;
	font-size:16px;
	background:#cbcb90;
	padding:10px 0 18px;
	margin:0 0 10px 0;
	text-align:left;
	}

.box_home.box {
	height:275px!important;
	}

#search_home input[type=submit], #search_home input[type=button] {
	display:none;
	}

#paginacao {
	border-top:2px solid #cbcb90;
	padding:10px 0 30px;
	font-size:12px;
	clear:both;
	}

.item, .item_box {
	margin-bottom:20px;
	}

.detalhe {
	padding:15px 10px;
	margin:0 0 20px 0;
	background:#eaeabb;
	font-size:16px;
	}

.detalhe span {
	color:#cbcb90;
	}

/* BUSCA BOX */
li.ui-menu-item {
	background:#FFFFFF;
	border:1px solid #CBCB90;
	border-bottom-color:#fff;
 	padding:10px;
	width:300px;
	}

li.ui-menu-item a {
	font-size:13px;
	cursor:pointer;
	}

/* DESTAQUE */
#destaque {
	width:990px;
	height:430px;
	margin:0 0 25px 0;
	border-bottom:10px solid #cbcb90;
	border-top:10px solid #cbcb90;
	}

/* LATERAL */
#lateral {
	width:280px;
	float:right;
	margin:0 50px 0 0;
	position:relative;
	}

/* RODAPÉ */
#rodape {
	clear:both;
	color:#fff;
	/*height:33px;*/
	width:990px;
	margin:290px auto 0;
	padding:10px 15px;

	}

#rodape_container {
	clear:both;
	width:100%;
	height:333px;
	position:absolute;
	z-index:0;
	bottom:0;
	}

/* TABLES */
table {
	width:100%;
	}

td {
	border:none;
	padding:0;
	text-align:center;
	}

tr {

	}

/* FORM */
.item_formulario {
	margin:20px 0;
	}

input[type=text] {
	border:1px solid #eaeabb;
	background:#eaeabb;
	padding:5px 10px;
	width:380px;
	margin:0 0 15px 0;
	}

.admin input[type=text]  {
	background:#EAEABB!important;
	border:none;
	}

input.pequeno {
	width:50px;
	}

input[type=password] {
	border:1xs solid #333;
	background:#eaeabb;
	padding:5px 10px;
	width:380px;
	margin:0 0 15px 0;
	}

input[type=submit], input[type=button] {
	background:#15bf25;
	padding:4px 16px 10px;
	color:#fff;
	font-size:14px;
	border:none;
	border-top:10px solid #0ba219;
	cursor:pointer;
	}

.admin input[type=password]  {
	background:#EAEABB!important;
	}

.novidades input[type=submit], .novidades input[type=button] {
	border-top-color:#346cd4!important;
	background:#4b88f8!important;
	}

.biografia input[type=submit], .biografia input[type=button] {
	border-top-color:#dd3f3a!important;
	background:#f95550!important;
	}

.contato input[type=submit], .contato input[type=button] {
	border-top-color:#e2a715!important;
	background:#febe20!important;
	}

input[type=submit]:hover, input[type=button]:hover {
	background:#0ba219;
	}

.novidades input[type=submit]:hover, .novidades input[type=button]:hover {
	background:#346cd4!important;
	}

.biografia input[type=submit]:hover, .biografia input[type=button]:hover {
	background:#dd3f3a!important;
	}

.contato input[type=submit]:hover, .contato input[type=button]:hover {
	background:#e2a715!important;
	}

.admin input[type=submit], .admin input[type=button] {
	background:#EAEABB!important;
	border-top-color:#aaa!important;
	}

label {
	display:block;
	font-weight:bold;
	font-size:16px;
	margin:0 0 5px 0;
	}

select {
    border:1px solid #eaeabb;
	background:#eaeabb;
	padding:5px 10px;
	width:400px;
	margin:0 0 15px 0;
	}

select.pequeno {
	width:50px;
	}

select.medio {
	width:100px;
	}

.admin select {
	background:#ccc!important;
	border:none;
	}

option {
	padding:0 5px;
	margin:0 0 5px 0;
	}

textarea {
	border:1px solid #eaeabb;
	background:#eaeabb;
	padding:5px 10px;
	width:380px;
	margin:0 0 15px 0;
	}

.admin textarea {
	background:#ccc!important;
	border:none;
	}

.box input[type=text] {
	border:3px solid #fff;
	background:#fff;
	padding:5px 10px;
	width:195px;
	margin:0 0 15px 0;
	}

.box select {
	border:1px solid #fff;
	background:#fff;
	padding:5px;
	width:220px;
	margin:0 0 10px 0;
	}

#lateral input[type=text] {
	width:215px;
	}

#lateral input[type=submit], #lateral input[type=button] {
	display:none;
	}

/* CLASSES */
.clear_both {
	clear:both;
	}

.align_left {
	text-align:left;
	}

.align_right {
	text-align:right;
	}

.align_center {
	text-align:center;
	}

.float_left {
	float:left;
	}

.float_right {
	float:right;
	}


img.float_left {
	/* float:left; */
	margin:0 20px 20px 0;
	}

img.float_right {
	float:right;
	margin:0 0 20px 20px;
	}

.loading_hidden {
	visibility:hidden;
	}

.loading_visible {
	visibility:visible;
	}

.replacement {
	width:1px;
	height:1px;
	position:absolute;
	overflow:hidden;
	}

.borda {
	border:1px solid;
	}

.sem_borda {
	border:none!important;
	}

.sem_background {
	background:none!important;
	}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}

.clearfix {
	display:inline-block;
	}

* html .clearfix {
	height:1%;
	}

.clearfix {
	display:block;
	}

/* ADMIN */
/*.admin_atencao {
	background:#fffad7;
	padding:10px;
	border:1px solid #f2cd00;
	margin:20px 0;
	}

.admin_erro {
	background:#ffebe8;
	padding:10px;
	border:1px solid #c00;
	margin:20px 0;
	}

.admin_sucesso {
	background:#e8ffea;
	padding:10px;
	border:1px solid #0ecc00;
	margin:20px 0;
	}


.admin_links li {
	list-style:inside;
	list-style-type:disc;
	}

.admin_links li a {
	color:#3399cc;
	padding:10px;
	}*/

/*#admin {
	width:920px;
	margin:0 auto;
	background:#d1d1e0;
	}

#admin #conteudo {
	margin:30px 0 30px 30px;
	}*/

#admin h2.categoria {
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	margin:0 0 30px 0;
	}

.slidingDiv {
    height:120px;
    background-color: #d1d1e0;
    padding-left:20px;
    padding-bottom:32px;
    margin-bottom:12px;
    border-bottom:5px solid #3399FF;
}

.show_hide {
    display:none;
}


div.dataTables_length {
	float: left;
	font-size:10px;
        display:inline;
}
div.dataTables_filter {
	float: right;
	font-size:10px;
}

#admin h2 {
	font-size:20px;
	}

#admin select {
    width: 60px;
    padding: 2px 5px;
}

#admin select.choose {
    width: 160px;
    padding: 2px 5px;
}

#admin input {
    padding: 7px 5px;
}

#admin .submit {
    width: 120px;
    padding: 10px 8px;
    margin-top: 4px;
    margin-left: 32px;
    margin-bottom: 14px;

}

#admin .labelAdmin {
    margin-top: 12px;
    margin-left: 32px;
}

#admin .inputAdmin {
    margin-left: 32px;
    padding: 2px 2px;

}

#admin a.thumbnail_livro img {
	width:160px;
	height:auto;
	}

#admin .selectAdmin {
    width: 132px;

}

#admin types {
    width:120px;
    display:inline;
    float:left;
}

.admin table {
	width:100%;
	clear:both;
	}

.admin td, .admin th {
	border:1px solid #f1f1f2;
	border-bottom:1px dotted #ddd;
	padding:5px;
	}

.admin td {
	text-align:left;
	}



#admin .works_edition {
    width: 632px;

}

#admin_rodape_container {
	clear:both;
	width:100%;
	height:333px;
	position:absolute;
	z-index:0;
	bottom:0;
	}

#login_form {
	width:616px;
	padding:25px 65px;
	margin:0 auto 0;

}

/* PAINEL */
.panel {
	clear:both;
	/*height:87px;*/
	padding:15px 50px;
	font-size:12px;
	background:#f9f9e4;
	margin-bottom:30px;
	}

.panel a {
	font-weight:bold;
	color:#000;
	}

.panel span {
	text-transform:uppercase;
	}

.panel p {
	/*margin-bottom:10px;*/
	}

.panel li {
	margin:0 0 5px 0;
	}


.box_panel {
	width:170px;
	margin:0 0 0 20px;
	height:70px;
	float:left;
	display:block;
	}

/* pajination */

#page_container ul li {
    list-style: none;
    margin-left: -2px;
}

.page_navigation , .alt_page_navigation{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:1px;
	color:#ffffff;
	text-decoration: none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	background-color:#0ba219;

}
.active_page{
	background-color:#eaeabb !important;
	color:#000000 !important;
}

.no_more{
	background-color:#85d08c !important;
	color:#000000 !important;
        pointer-events:none;
}

.info_text{
    text-align: left;
    display:block;
    padding-top: 8px;
    clear: both;
}

.page_link{
    text-align: center;
    width: 16px;
    height: 20px;
}

.first_link, .previous_link, .last_link, .next_link  {
    text-align: center;
    width: 27px;
    height: 20px;
}


/* --------------------------------------------------------- autocomplete */
/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}

/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
}

.ui-autocomplete li {
    font-size: 16px;
}

.ui-helper-hidden-accessible {
    display: none;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}

#paginas_biografia .page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:1px;
	color:white;
	text-decoration: none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	background-color:#dd3f3a;

}

#paginas_biografia .no_more{
	background-color:#f95550 !important;
	color:#000000 !important;
        pointer-events:none;
}

#paginas_biografia .page_navigation , .alt_page_navigation{
	padding-left: 0px;
}

