<style>
.info_livro {
	border: 1px solid #CBCB90;
	padding:15px;
	margin-bottom:20px;
	}
</style>

<!-- detalhes -->
<div class="detalhe">
Faixa etária: <a href="/livros/de-7-a-9-anos">De 7 a 9 anos</a>
</div>
<!-- /detalhes -->

<div class="clearfix">

<!-- coluna 1 -->
<div class="float_left" style="width:250px;">

<!--<p><img src="/img/marcacao_livro_detalhe.jpg" class="float_left" /><strong>&Aacute;tica, 2000</strong></p>-->
<p><a href="/img/editions/raw/a_primavera.jpg" rel="shadowbox"><img src="/img/editions/raw/a_primavera.jpg" class="float_left explore_cover" /></a></p>

<p class="info_livro">
Série: <a href="/serie/vou-te-contar">Vou Te Contar!</a><br />
Ilustração: Madalena Elek<br />
Editora: Salamandra<br />
ISBN: 9788516065331<br />
32 páginas<br />
</p>
<!--
<form>
<input type="submit" value="Comprar online" />
</form>
-->

</div>
<!-- /coluna 1 -->

<!-- coluna 2 -->
<div class="float_right" style="width:290px;">
<p>Depois de uma reunião debaixo da bananeira da floresta, a formiga, o louva-a-deus, o camaleão (que vivia mudando de opinião), a joaninha, a lagartixa, a libélula, o gafanhoto, o caracol, a aranha e a cigarra (ufa, quanta gente!, ou melhor, quanto inseto!), decidiram caçar a lagarta, porque ela comia folhas demais (como se eles não comessem nada...). Além disso, eles achavam a lagarta muito feia (como se eles fossem muito lindos...).<br />

<br />

Porém, a caçada aconteceu no início da primavera, quando as lagartas se transformam em... Bem, é melhor não contar o final da história, que ficou ainda mais bonita com os desenhos da Madalena Elek.<br />

</p>
</div>
<!-- /coluna 2 -->

</div>

<!-- outros livros -->
<div class="detalhe clear_both">
    Outros livros da série: <a href="/serie/vou-te-contar">Vou Te Contar!</a>
</div>